body, html {
    height: 100%;
    margin: 0;
}

@font-face {
    font-family: BoonBaan;
    src: url(../css/boonbaan/BoonBaan-Regular.woff2) format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: BoonBaan;
    src: url(../css/boonbaan/BoonBaan-Italic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: BoonBaan;
    src: url(../css/boonbaan/BoonBaan-Bold.woff2) format("woff2");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: BoonBaan;
    src: url(../css/boonbaan/BoonBaan-BoldItalic.woff2) format("woff2");
    font-weight: 800;
    font-style: italic;
}

* {
    font-family: 'BoonBaan', 'Inter' !important;
    /*font-size: 1rem;*/
}
.page-background-class {
    background-image: url(../images/background.jpg);
    position: relative;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
